.statcard_container {
  box-shadow: 0px 0px 54px rgba(7, 6, 61, 0.05);
  border-radius: 10px;
  padding: 20px 0 0px;
  overflow: hidden;
  .statcard_icon {
    height: 45px;
    width: 45px;
    background: #fff5f7;
    opacity: 0.8;
    border-radius: 6px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .statcard_details {
    text-align: center;
    h2 {
      color: #ffffff;
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 0.75px;
      margin: 20px 0 0;
    }
    p {
      font-size: 12px;
      letter-spacing: 0.875px;
      font-weight: 400;
      color: #ffffff;
    }
  }
}
